/* [#profile] 2page *//* [#profile] 2page *//* [#profile] 2page *//* [#profile] 2page */

#profile {
    z-index: 2;
    position: relative;
    width: 100%; height:100vh;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
}

#profile video {
    display: block;
    height: 150%; 
    z-index: -99;
    margin: 0 auto;
}




