/* [#skill] 3page *//* [#skill] 3page *//* [#skill] 3page *//* [#skill] 3page */
#skill {
    position: relative;
    width: 100%; height:100vh;
    background: url(../images/3p_back.jpg) no-repeat top center/cover;
    background-size: 300%;
}

#skill > article {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    overflow: hidden;
}


/* skill-mn *//* skill-mn *//* skill-mn */
#skill > article > .skill-mn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#skill > article > .skill-mn > p{
    font-size: 36px;
    font-weight: 800;
}

#skill > article > .skill-mn > div{
    display: flex;
    align-items: center;
}

#skill > article > .skill-mn button{
    height: 40px;
    font-size: 16px;
    margin-left: 10px;
    padding: 0px 20px;
    color: white;
}


/* skill-box *//* skill-box *//* skill-box */
#skill > article > .skill-box{
    width: 300%; height: 350px;
    margin: 20px 0px;
    display: flex;

    position: relative;
}


#skill > article > .skill-box > li{
    position: absolute; left: 0px;
    width: 33.3%; height: 350px;
    background-color: rgba(74, 140, 138,0.6);
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 50px;
    color: rgb(255, 255, 255);
}


#skill > article > .skill-box > li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#skill > article > .skill-box > li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 스킬 퍼센테이지 */
#skill > article > .skill-box > li > div{
    width: 42%;
}

#skill > article > .skill-box img, svg{
    display: inline-block;
    width: 55px; height: 50px;
    margin: 5px 10px 5px 0px;
    border-radius: 5px;
    overflow: hidden;
}

#skill > article > .skill-box svg{
    padding: 5px;
    background-color: white;
}

/* 스킬 설명 */
#skill > article > .skill-box > li > p{
    width: 58%; max-height: 260px;
    padding: 0px 20px 0px 30px;
}

#skill > article > .skill-box > li > p > span{
    color: #a1ffce;
    font-size: larger;
    
}

#skill > article > .skill-box > li article{
    display: flex;
}

#skill > article > .skill-box > li .quality{
    display: inline-block;
    position: relative;
    width: 95%; height: 30px;
    margin: 15px 0px;
    background-color: rgb(86, 200, 211);
}

/* Back */
#skill > article > .skill-box > li:nth-child(1){
    opacity: 100%;
    z-index: 1;
}

#skill > article > .skill-box > li .qual-java::after{
    content: '';
    position: absolute; left: -1px; bottom: -1px;
    width: 90%; height: 32px;
    background: linear-gradient(to right, #faffd1, #a1ffce);
    border-radius: 3px;
}

#skill > article > .skill-box > li .qual-nodejs::after{
    content: '';
    position: absolute; left: -1px; bottom: -1px;
    width: 30%; height: 32px;
    background: linear-gradient(to right, #faffd1, #a1ffce);
    border-radius: 3px;
}

#skill > article > .skill-box > li .qual-spring::after{
    content: '';
    position: absolute; left: -1px; bottom: -1px;
    width: 70%; height: 32px;
    background: linear-gradient(to right, #faffd1, #a1ffce);
    border-radius: 3px;
}

#skill > article > .skill-box > li .qual-boot::after{
    content: '';
    position: absolute; left: -1px; bottom: -1px;
    width: 70%; height: 32px;
    background: linear-gradient(to right, #faffd1, #a1ffce);
    border-radius: 3px;
}

/* Front */
#skill > article > .skill-box > li:nth-child(2){
    opacity: 0%;
    z-index: 0;
}

#skill > article > .skill-box > li .qual-html::after{
    content: '';
    position: absolute; left: -1px; bottom: -1px;
    width: 100%; height: 32px;
    background: linear-gradient(to right, #faffd1, #a1ffce);
    border-radius: 3px;
}

#skill > article > .skill-box > li .qual-css::after{
    content: '';
    position: absolute; left: -1px; bottom: -1px;
    width: 90%; height: 32px;
    background: linear-gradient(to right, #faffd1, #a1ffce);
    border-radius: 3px;
}

#skill > article > .skill-box > li .qual-js::after{
    content: '';
    position: absolute; left: -1px; bottom: -1px;
    width: 70%; height: 32px;
    background: linear-gradient(to right, #faffd1, #a1ffce);
    border-radius: 3px;
}

#skill > article > .skill-box > li .qual-jquery::after{
    content: '';
    position: absolute; left: -1px; bottom: -1px;
    width: 85%; height: 32px;
    background: linear-gradient(to right, #faffd1, #a1ffce);
    border-radius: 3px;
}

/* Design */
#skill > article > .skill-box > li:nth-child(3){
    opacity: 0%;
    z-index: 0;
}

#skill > article > .skill-box > li .qual-ps::after{
    content: '';
    position: absolute; left: -1px; bottom: -1px;
    width: 45%; height: 32px;
    background: linear-gradient(to right, #faffd1, #a1ffce);
    border-radius: 3px;
}

#skill > article > .skill-box > li .qual-ai::after{
    content: '';
    position: absolute; left: -1px; bottom: -1px;
    width: 90%; height: 32px;
    background: linear-gradient(to right, #faffd1, #a1ffce);
    border-radius: 3px;
}

#skill > article > .skill-box > li .qual-id::after{
    content: '';
    position: absolute; left: -1px; bottom: -1px;
    width: 70%; height: 32px;
    background: linear-gradient(to right, #faffd1, #a1ffce);
    border-radius: 3px;
}


/* skill-footer *//* skill-footer *//* skill-footer */
#skill > article > .skill-footer{
    width: 100%;
}

#skill > article > .skill-footer > li{
    display: flex;
    padding: 5px 0px;
}

/* 숙련도 */
#skill > article > .skill-footer > li > h3{
    min-width: 150px;
    max-width: 20%; 
}

#skill > article > .skill-footer > li > h3 > i{
    padding-right: 6px;
    color: rgb(74, 140, 138);
}

/* 종류 */
#skill > article > .skill-footer > li > div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#skill > article > .skill-footer > li > div > img{
    padding: 0px 4.5px;
    margin: 3px 0px;
}