/* [#project] 4page *//* [#project] 4page *//* [#project] 4page *//* [#project] 4page */
#project {
    position: relative;
    width: 100%; height:100vh;
}

#project > article {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    overflow: hidden;
}

/* 플젝 */
#project > article > p{
    font-size: 36px;
    font-weight: 800;
}

/* 플젝 이미지 */
#project > article > .project-box{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

/* main banner */
#project > article .main-banner{
    position: relative;
    width: 88%; height: 450px;
    display: flex;
    background-color: rgb(250, 248, 235);
    overflow: hidden;
}

#project > article > .project-box > .main-banner > .main-item{
    position: absolute;
}

#project > article > .project-box > .main-banner > .main-item:nth-child(1){
    width: 200%; height: 100%;
    -webkit-animation: hz 15s infinite alternate linear;  
    animation: hz 15s infinite alternate linear;
}

#project > article > .project-box > .main-banner > .main-item:nth-child(2){
    width: 100%; height: 800%;
    -webkit-animation: vt 20s infinite alternate linear;  
    animation: vt 20s infinite alternate linear;
}

#project > article > .project-box > .main-banner > .main-item:nth-child(3){
    width: 100%; height: 100%;
}

#project > article > .project-box > .main-banner > .main-item:nth-child(4){
    height: 150%;
    padding: 0px 50px;
    background-color: rgb(255, 255, 255);
    left: 50%; transform: translate(-50%, 0%);
}

#project > article > .project-box > .main-banner > .main-item:hover {
    animation-play-state: paused;
}

@-webkit-keyframes hz {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@-webkit-keyframes vt {
    from {
        top: 0%;
    }
    to {
        top: -700%;
    }
}

/* sub banner */
#project > article > .project-box > .sub-banner{
    width: 10%; height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#project > article > .project-box > .sub-banner > a{
    position: relative;
    width: 100%; height: 24%;
    border-radius: 5px;
    overflow: hidden;
}

#project > article > .project-box > .sub-banner span{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(252, 188, 126);
    pointer-events: none; 
    z-index: 1;
}

#project > article > .project-box > .sub-banner > a:nth-child(1) > img{
    filter: brightness(100%);
}

#project > article > .project-box > .sub-banner img{
    width: 100%; height: 100%;
    filter: brightness(30%);
}


/* project-footer *//* project-footer *//* project-footer */
#project > article > .project-footer{
    width: 100%;
}

#project > article > .project-footer > li > p{
    font-size: 21px;
    display: flex;
    align-items: center;
}

#project > article > .project-footer > li > p > b{
    width: 140px;
    padding-right: 20px;
    color: rgb(74, 140, 138);
}

#project > article > .project-footer > li > p > span{
    font-size: 16px;
    padding-left: 20px;
    margin: 10px 0px;
    border-left: 1px solid rgb(74, 140, 138);
}

#project > article > .project-footer > li > p > i{
    font-size: 21px;
    padding-right: 10px;
    color: rgb(74, 140, 138);
}

