#wrap {
    position: relative;
    width: 100%;
}


/* [.bg] 백그라운드 *//* [.bg] 백그라운드 *//* [.bg] 백그라운드 *//* [.bg] 백그라운드 */
.bg{
    width: 100%; height: 100vh;
    position: absolute;
    top: 0px; left: 0px;
}

/* 커스텀 커서 *//* 커스텀 커서 */
.cursor-circle{
    position: absolute;
    top: 0px; left: 0px;
    width: 20px; height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    z-index: 99;
    pointer-events: none; 
}

/* 배경패턴 *//* 배경패턴 */
.bg > article{
    width: 100%; height: 100%;
    position: relative;
    overflow: hidden;
}

.bg > article > .bp-square{
    position: absolute;
    top: -50px; left: -100%;
}

.bg > article > .bp-circle{
    position: absolute;
    bottom: -250px; right: -100%;
    transform: scaleX(-1);
}

.bg > article > .cht{
    position: absolute;
    bottom: 100px; left: 100%;
}



/* [#f-nav] 퀵버튼 *//* [#f-nav] 퀵버튼 *//* [#f-nav] 퀵버튼 *//* [#f-nav] 퀵버튼 */
#f-nav{
    z-index: 3;
    position: absolute;
    top: 0px; left: 0px;
}

/* logo */
#f-nav .logo {
    position: fixed;
    top: 0px; left: 20px;
    padding: 0px 50px;
}

#f-nav .logo > a{
    line-height: 120px;
    font-size: 21px;
    font-weight: 800;
}

/* 네비버튼 *//* 네비버튼 */
#f-nav > article > .btn-nav{
    width: 120px; height: 120px;
    position: fixed;
    top: 0px; right: 0px;
    border-top-left-radius: 10px;
    text-align: center;
}

#f-nav > article > .btn-nav > a{
    font-size: 30px;
    line-height: 120px;
}

#f-nav > article > .btn-nav > a:hover{
    font-size: 30px;
    line-height: 120px;
}


/* contact *//* contact */
#f-nav > article > p{
    position: fixed;
    font-size: 12px;
    bottom: 46px; left: 50px;
    z-index: 20;
}

/* 페이지버튼 *//* 페이지버튼 */
#f-nav > article > .btn-scroll{
    width: 80px; height: 80px;
    position: fixed;
    bottom: 6px; right: 0px;
    border-top-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

#f-nav > article > .btn-scroll:hover{
    background-color: rgb(86, 200, 211);
}

#f-nav > article > .btn-scroll > a{
    font-size: 21px;
    color: white;
    line-height: 80px;
}

