#wrap {
    position: relative;
    width: 100%;
}


/* [.bg] 백그라운드 *//* [.bg] 백그라운드 *//* [.bg] 백그라운드 *//* [.bg] 백그라운드 */
.bg{
    width: 100%; height: 100vh;
    position: absolute;
    top: 0px; left: 0px;
}


/* 스크롤바 설정 -html 전체-*/
/* PC용 */
@media screen and (min-width:1000px) {
    .scroll{
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    
    .scroll::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    
    .custom-scroll{
        position: fixed;
        bottom: 0px;
        z-index: 1000;
        width: 100%; height: 6px;
        background-color: rgb(74, 140, 138);
    }
    
    .custom-scroll > article{
        width: 20%; height: 10px;
        background-color: rgb(86, 200, 211);
    }
    
    
    /* 스크롤바 설정 -article 일부-*/
    .scrollBar { 
        overflow-y: scroll;
    }
    
    .scrollBar::-webkit-scrollbar {
        width: 6px;  /* 스크롤바의 너비 */
    }
    
    .scrollBar::-webkit-scrollbar-thumb {
        height: 20%; /* 스크롤바의 길이 */
        background: rgb(250, 248, 235);
        border-radius: 10px;
    }
}

/* 모바일용 */
@media screen and (max-width:1000px) {
}


/* 커스텀 커서 *//* 커스텀 커서 */
.cursor-circle{
    position: absolute;
    top: 0px; left: 0px;
    width: 20px; height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    z-index: 99;
    pointer-events: none; 
}

/* 배경패턴 *//* 배경패턴 */
.bg > article{
    width: 100%; height: 100%;
    position: relative;
    overflow: hidden;
}

.bg > article > .bp-square{
    position: absolute;
    top: -50px; left: -100%;
}

.bg > article > .bp-circle{
    position: absolute;
    bottom: -250px; right: -100%;
    transform: scaleX(-1);
}

.bg > article > .cht{
    position: absolute;
    bottom: 100px; left: 100%;
}



/* [#f-nav] 퀵버튼 *//* [#f-nav] 퀵버튼 *//* [#f-nav] 퀵버튼 *//* [#f-nav] 퀵버튼 */
#f-nav{
    z-index: 3;
    position: absolute;
    top: 0px; left: 0px;
}

/* logo */
#f-nav .logo {
    position: fixed;
    top: 0px; left: 20px;
    padding: 0px 50px;
}

#f-nav .logo > a{
    line-height: 120px;
    font-size: 21px;
    font-weight: 800;
}

/* 네비버튼 *//* 네비버튼 */
#f-nav > article > .btn-nav{
    width: 120px; height: 120px;
    position: fixed;
    top: 0px; right: 0px;
    border-top-left-radius: 10px;
    text-align: center;
}

#f-nav > article > .btn-nav > a{
    font-size: 30px;
    line-height: 120px;
}

#f-nav > article > .btn-nav > a:hover{
    font-size: 30px;
    line-height: 120px;
}


/* contact *//* contact */
#f-nav > article > p{
    position: fixed;
    font-size: 12px;
    bottom: 46px; left: 50px;
    z-index: 20;
}

/* 페이지버튼 *//* 페이지버튼 */
#f-nav > article > .btn-scroll{
    width: 80px; height: 80px;
    position: fixed;
    bottom: 6px; right: 0px;
    border-top-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

#f-nav > article > .btn-scroll:hover{
    background-color: rgb(86, 200, 211);
}

#f-nav > article > .btn-scroll > a{
    font-size: 21px;
    color: white;
    line-height: 80px;
}

