/* reset.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;   
}

/* 
메인 컬러
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
    민트: #44ae99;
    회색: #5c5c5c;
*/

html{
    min-width: 1024px;
    overflow: hidden;
    margin: 0 auto;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px; /* 12px 21px 36px 80px*/
    font-weight: 500;
    color: #5c5c5c;;
}

img{
    display: block;
    border: none;
}

ul, ol, li{
    list-style:none;
}

input{
    padding: 0px 30px;
    border: none;
    border-radius: 20px;
    font-size: 38px;
}

input:focus{
    outline: none;
}

input::placeholder {
    color: rgb(190, 190, 190);
    font-weight: 500;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #5c5c5c;
}

a:hover{
    color: #44ae99;
}

.focus-scale:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}


/* 숨김 기능 */
.invisible{
    display: none;
}

/* 버튼 */
.btn{
    cursor: pointer;
    width: 100%; height: 60px;
    font-size: 38px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
}

/* 스크롤바 설정*/
.scroll{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.custom-scroll{
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    width: 100%; height: 6px;
    background-color: #5c5c5c;
}

.custom-scroll > article{
    width: 20%; height: 10px;
    background-color: #44ae99;
}